<div class="move">
    <h2><strong><%= move.name %></strong></h2>
    <p><strong>Power: </strong><%= move.power %></p>
    <p><strong>Description: </strong><%= move.description %></p>
    <p><strong>Category: </strong><%= move.category %></p>
</div>
