<h2><strong><%= move.name.capitalize %></strong></h2>
<p><strong>Power: </strong><%= move.power %></p>
<p><strong>Description: </strong><%= move.description.capitalize %></p>
<p><strong>Category: </strong><%= move.category.capitalize %></p>
