
<body>
<div class="container">
<div class="pokeball-container">
  <%= image_tag("Pokeball.png", alt: "Pokeball", class: "pokeball") %>
</div>
    <div class="pokedex">
      <div class="top">
        <div class="color-buttons">
        <button class="blue-button"></button>
        <button class="red-button"></button>
        <button class="green-button"></button>
        <button class="yellow-button"></button>
      </div>
        <div class="screen"></div>
      </div>
        <div class="color-buttons-down">
          <button class="strong-blue-button"></button>
          <button class="green-large-button"></button>
          <button class="yellow-large-button"></button>
        </div>
      <div class="search">
        <input type="text" placeholder="Buscar Pokémon">
        <button class="Buscar"></button>
      </div>
    </div>
    <div class="back-case">
      <div class="topv2">
        <div class="screenv2"></div>
      </div>
    
    </div>
  </div>

</body>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const pokeballContainer = document.querySelector(".pokeball-container");

  pokeballContainer.style.display = "flex";

  setTimeout(function () {
    pokeballContainer.style.display = "none";
  }, 1500);
});

</script>

