
<body>
<div class="container">
    <div class="pokedex">
      <div class="top">
        <div class="color-buttons">
        <button class="blue-button"></button>
        <button class="red-button"></button>
        <button class="green-button"></button>
        <button class="yellow-button"></button>
      </div>
        <div class="screen"></div>
      </div>
      <div class="search">
        <input type="text" placeholder="Buscar Pokémon">
        <button class="Buscar"></button>
      </div>
    </div>
    <div class="back-case">
      <div class="topv2">

        </div>
    
    </div>
  </div>

</body>
