/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
}

.container {
  background-color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.pokedex {
  width: 550px;
  background-color: #dd082f;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.top {
  background-color: #dd082f;
  padding: 80px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  position: relative;
}

.screen {
  background-color: #ffffff;
  height: 350px;
  border: 10px solid #b0b0b0;
  border-radius: 5px;
  position: relative;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  background-color: #000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.buttons {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.search {
  background-color: #dd082f;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

input[type="text"] {
  width: 70%;
  padding: 8px;
  border: none;
  background-color: #e3bd25;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: -20px;
}

.Buscar {
  background-color: #c63939;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
  margin-top: -20px;
  background-image: radial-gradient(#ffd8d8, #890707);
}

.color-buttons {
  display: flex;
  gap: 20px;
  position: relative;
  top: -50px;
  left: -25px;
  gap: 10px;
}

.red-button,
.green-button,
.blue-button,
.yellow-button {
  top: 50px;
  left: 50px;
  color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border: 2px solid black;
}

.red-button {
  background-color: rgb(27, 180, 222);
  overflow: hidden;
  transition: all 0.5s;
}

.green-button {
  background-color: #0f0;
}

.blue-button {
  background-color: #01fbfb;
  color: #fff;
  border: none;
  width: 70px;
  height: 70px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border: 2px solid #000;
}

.yellow-button {
  background-color: #ffcc02;
}

.back-case {
  width: 550px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 1%;
  position: relative;
}

.topv2 {
  background-color: #dd082f;
  padding: 300px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  position: relative;
  height: 90px;
}

.strong-blue-button {
  background-color: #519afb;
  /* Ciruclar button */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  /* Borde negro alrededor */
  border: 2px solid black;
}

.green-large-button {
  background-color: #0f0;
  width: 120px;
  height: 30px;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.yellow-large-button {
  background-color: #ffcc02;
  width: 120px;
  height: 30px;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.color-buttons-down {
  display: flex;
  gap: 20px;
  position: relative;
  top: -50px;
  left: 85px;
  gap: 10px;
}

.screenv2 {
  background-color: #ffffff;
  border: 10px solid #4f44443c;
  border-radius: 5px;
  position: absolute;
  top: 30px;
  right: 20px;
  left: 20px;
  bottom: 20px;
}
